@media screen and (min-width: 768px) {
  #doraemon_to_top {
    position: fixed;
    z-index: 1001;
    right: 30px;
    transition: 0.3s;
    opacity: 0;
    bottom: -187px;
    transform: scale(1);
  }
  #doraemon_to_top.doraemon_fixed {
    bottom: -51px;
    opacity: 1;
    cursor: pointer;
  }
  #doraemon_to_top.doraemon_fixed:hover {
    transform: scale(0.95);
  }
}
